.cartItem{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.cart__item{
    width: 300px;
    height: 240px;
    border: 1px solid red;
}

.qty{
    width: 90px;
    border: 2px solid #ddd;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    margin: auto;
}
.plas{
font-size: 20px;
border: none;
background: none;
}
.minus{
font-size: 21px;
border: none;
background: none;
}
.delet{
    background: linear-gradient(45deg,dodgerblue, rgb(0, 255, 0));
    border: none;
    padding: 5px 30px;
    margin-top: 10px;
    transition: 1s;
    border-radius: 6px;
}
.delet:hover{
    padding: 8px 40px;
    background: var(--bg);
    border-radius: 5px;
    cursor: pointer;
}